.round-slider-container {
  width: 63px;
  height: 26px;
  background: pink;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .round-slider-container__title {
    color: black;
  }
  .round-slider {
    width: 26px;
    height: 22px;
    border-radius: 50%;
    background: white;
    top: 2px;
    left: 2px;
    position: absolute;
  }
}
#checkbox-input {
  display: none;
}
#checkbox-input:checked + .round-slider-container .round-slider {
  transform: translateX(32px);
}

.productInfo-column__description {
  outline: none;
  resize: none;
  min-height: 200px;
}
