.payment-select {
  outline: none;
}

.title-background {
  padding: 10px 10px 10px 30px;
  margin: 25px 0px 25px 0px;
  font-size: 22px;
  background-color: rgba($color: #000000, $alpha: 0.05);
}

.payment-div {
  width: 100%;
  overflow: auto;
  margin-top: 10px;
  border-top: 1px solid black;
  .payment-div__table {
    width: 100%;
    table-layout: fixed;
    border-top: none;
    text-align: center;
    margin-top: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    thead {
      z-index: 1;
      position: sticky;
      top: 0;
    }
    th,
    td {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    }
    th:last-child,
    td:last-child {
      border-right: 1px solid black;
    }
    tfoot {
      td {
        font-weight: bold;
      }
    }
  }
  .payment-div__table__th {
    thead {
      th {
        width: 102px;
      }
      th:first-child {
        width: 150px;
      }
    }
    tfoot {
      td {
        font-weight: bold;
      }
    }
  }
}

.payment-div2 {
  height: 1000px;
  overflow: auto;
}

.textarea-resize {
  resize: none;
}
