.centered {
  margin: 0 auto;
  text-align: center;
}
.cursor {
  cursor: pointer;
}

.user-info {
  .form-group {
    margin-bottom: -15px;
  }
  .btn {
    max-width: 320px;
  }
  .confBtn {
    height: 40px;
    margin-top: 65px;
    margin-left: 50px;
    display: inline;
  }
  .tabBox {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-left: 5px;
    a {
      display: table-cell;
      width: 5.19%;
      line-height: 30px;
      font-size: 12px;
      font-weight: bold;
      color: #8e8e8e;
      border: 1px solid rgb(176, 167, 167);
      box-sizing: border-box;
    }
    a.on {
      color: #fff;
      background-color: #319fdc;
      border-color: #319fdc;
    }
  }
}

.pageBox {
  // margin-top: 80px;
  text-align: center;
  float: right;
  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #e8e9ec;
    box-sizing: border-box;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
  a.prev {
    margin-right: 8px;
  }
  a.next {
    margin-left: 8px;
  }
  a.number {
    line-height: 26px;
    font-size: 14px;
    color: #4d4f5c;
    text-align: center;
    margin: 0 3px;
    &:hover,
    &.on {
      color: #fff;
      background-color: #319fdc;
    }
  }
}

.layer_popup {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: 500;
  .popup_main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 400px;
    font-size: 15px;
    padding: 0px 10px 40px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
    p {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      color: #222;
      margin-top: 30px;
      line-height: 1.4;
    }
    .popup_title {
      font-size: 20px;
      font-weight: bold;
      color: #222;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid gray;
    }
    .closeBtn {
      position: absolute;
      top: 0;
      right: -44px;
      img {
        display: block;
      }
    }
  }
}
.listPopup {
  .box {
    text-align: left;
    margin-top: 20px;
    border: 1px solid gray;
    padding: 10px 10px 10px;
  }
  .container {
    font-size: 13px;
  }
  .table {
    thead {
      border: 1px solid gray;
      th {
        border-left: 1px solid gray;
      }
    }
    tbody {
      border: 1px solid gray;
      td {
        border: 1px solid gray;
      }
    }
  }
  .buttons {
    border-top: 1px solid gray;
    padding: 30px;
    .btn {
      width: 150px;
    }
  }
}

.dateBox {
  text-align: center;
  a {
    display: inline-block;
    vertical-align: middle;
    img {
      display: block;
    }
  }
  .datepicker {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 225px;
    margin: 0 40px;
    input {
      display: block;
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 30px;
      font-weight: bold;
      color: #222;
      text-align: left;
      line-height: normal;
    }
    img {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}

.schedule {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 60px;
  .scrollBox {
    width: 1500px;
    table {
      width: 100%;
      border-collapse: collapse;
      th {
        width: 200px;
        height: 64px;
        padding: 0 10px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        color: #222;
        text-align: center;
        border: 1px solid #dadada;
        vertical-align: middle;
        background-color: #fff;
        background-clip: padding-box;
      }
      th:first-child,
      td:first-child {
        border-left: none;
      }
      th:last-child,
      td:last-child {
        border-right: none;
      }
      tr:first-child th {
        border-top: 2px solid #319fdc;
      }
      td {
        width: 200px;
        height: 180px;
        padding: 0 10px;
        border: 1px solid #dadada;
        box-sizing: border-box;
        background-clip: padding-box;
        &:first-child {
          font-size: 16px;
          font-weight: bold;
          color: #222;
          text-align: center;
        }
        p {
          display: block;
          width: 100%;
          font-size: 15px;
          color: #767676;
          line-height: 1.5;
        }
        a {
          display: inline-block;
          margin-top: 10px;
        }
        img {
          display: block;
          width: 114px;
        }
        .session-add {
          margin-top: -20px;
          font-size: 32px;
        }
      }
      .break {
        td {
          position: relative;
          height: 50px;
          background-color: #f8f8f8;
          font-size: 16px;
          font-weight: bold;
          color: #222;
          text-align: left;
          border-right: none;
          border-left: none;
          &:first-child {
            text-align: center;
          }
          span {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12px;
            font-weight: bold;
            color: #222;
          }
        }
      }
    }
  }
}

.record-table {
  max-height: 500px;
  overflow: scroll;
}

.session-record-table {
  .row {
    max-height: 55px;
    max-width: 280px;
  }
}

.table-scroll {
  max-height: 300px;
  overflow: scroll;
}

.table-scroll2 {
  max-height: 500px;
  overflow: auto;
  border-top: 2px solid;
  .table-scroll2__table {
    border-top: none;
    thead {
      z-index: 1;
      position: sticky;
      top: 0;
    }
  }
}

.rechart-wrapper {
  width: 100%;
  height: 300px;
}
.rechart-surface {
  width: 100% !important;
}

.border-top-gray {
  border-top: 1px solid gray !important;
}
.border-bottom-gray {
  border-bottom: 1px solid gray !important;
}
.border-gray {
  border: 1px solid gray !important;
}
.border-left-gray {
  padding-left: 5px;
  border-left: 1px solid gray !important;
}

.hide {
  display: none;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.popup_title {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #dadada;
  transform: skew(-0.03deg) !important;
}
.popup_text {
  position: relative;
  padding: 20px 30px;
  text-align: left;
  transform: skew(-0.03deg) !important;
  .room {
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    margin-bottom: 5px;
    transform: skew(-0.03deg) !important;
  }
  .subject {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    transform: skew(-0.03deg) !important;
    width: 95%;
  }
}

.popup_title span {
  font-size: 14px;
}
.date {
  position: relative;
  padding: 20px 30px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-align: left;
  transform: skew(-0.03deg) !important;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #222;
  }
}
.test_list {
  height: 45vh;
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  .q_total {
    font-size: 16px;
    font-weight: 900;
    color: #222;
    text-align: left;
    transform: skew(-0.03deg) !important;
    margin-bottom: 40px;
  }
  li {
    margin-bottom: 30px;
    text-align: left;
    .question {
      font-size: 16px;
      font-weight: bold;
      color: #222;
      transform: skew(-0.03deg) !important;
    }
    .checkBox {
      padding: 20px;
      input {
        display: none;
      }
      input + label {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
        color: #222;
        padding: 4px 0 4px 28px;
        background-image: url(img/icon_check_off.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
        margin-right: 30px;
      }
      input:checked + label {
        background-image: url(img/icon_check_on.png);
      }
    }
    .checkBox.block input + label {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .checkBox.block input + label:last-child {
      margin-bottom: 0;
    }
    .inputBox {
      padding: 20px;
      input {
        display: block;
        width: 100%;
        height: 56px;
        border: 1px solid #dadada;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: bold;
        color: #222;
        padding-left: 20px;
        box-sizing: border-box;
      }
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.layer-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  .popup-content {
    background-color: white;
    width: 500px;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    .popup-header {
      padding: 10px;
      border-bottom: solid 1px #222;
      .title {
        display: inline-block;
      }
      .close-btn {
        display: inline-block;
        float: right;
        cursor: pointer;
      }
    }
    .popup-body {
      padding: 10px;
      .field-header {
        text-align: left;
      }
      input[type="button"] {
        background: #3498db;
        border: 1px solid #2691d9;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
      }
      input[type="button"]:hover {
        background: #2691d9;
      }
    }
  }
}

.navbar {
  .navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-brand:hover,
  .active {
    background-color: #ccc;
    border-radius: 5px;
  }
}

.card .card-title .path {
  display: inline-block;
  float: right;
  font-size: 14px;
}

// .nav-link .side-menu-angle {
//   float: right;
//   font-size: 18px;
//   height: 31px;
// }
// .nav-link.open .side-menu-angle.closed {
//   display: none;
// }
// .nav-link:not(.open) .side-menu-angle.opened {
//   display: none;
// }
// .nav-link:not(.open) ~ li {
//   display: none;
// }
.nav-link:not(.open):first-child ~ a {
  display: none !important;
}

.search-box {
  .title {
    width: 150px;
    font-size: 16px;
  }
  .select-search-target {
    width: 200px;
    select {
      margin-bottom: 0;
      font-size: 14px;
      padding: 4px 12px;
    }
  }
}

.input-table {
  .field-label {
    font-size: 16px;
  }
  .field-input {
  }
}

.sidebar:before,
body > .navbar-collapse:before,
.sidebar:after,
body > .navbar-collapse:after {
  background: none !important;
}

// .sidebar .nav li .nav-link, body > .navbar-collapse .nav li .nav-link {
//   color: black !important;
// }
// .sidebar .nav > li > .nav-link.open, body > .navbar-collapse .nav > li > .nav-link.open {
//   border-left: solid 3px #2c98f0;
// }
// .sidebar .nav li.active .nav-link, body > .navbar-collapse .nav li.active .nav-link {
//   background: none !important;
//   color: #2c98f0 !important;
//   text-decoration: underline;
// }

.dashboard th,
.dashboard td {
  border: solid 1px #ccc;
}
.dashboard th {
  background-color: #eee;
}

.notice-tabs-wrapper {
  border-bottom: solid 1px #ccc;
  height: 28px;
}
.notice-tabs {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
.notice-tabs.active {
  border-bottom-color: white;
  background-color: white;
  font-weight: bold;
}
.notice-list {
  padding: 10px;
  border: solid 1px #ccc;
  border-top: none;
}

.row {
  width: 1890px;
}
.main-panel .row,
.row .row {
  width: 100%;
}
.modal .row {
  width: 100%;
}

.nav-link:not(.open) + ul {
  display: none;
}

.show-checkbox {
  input[type="checkbox"] {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

#editor.include-setting {
  display: inline-block;
  // width: 530px;
  height: 588px;
  vertical-align: top;
}

.viewer-setting {
  background-color: white;
  display: inline-block;
  vertical-align: top;
}

table {
  border: solid 1px #dee2e6;
}

input[type="date"] {
  font-size: 14px;
}

input[type="checkbox"],
input[type="radio"] {
  width: 15px;
  height: 15px;
}
input[type="checkbox"] ~ label {
  vertical-align: middle;
}
input[type="radio"] ~ label {
  vertical-align: text-bottom;
}

.modal.show .modal-dialog {
  transform: none !important;
}

.modal-lg {
  width: 800px !important;
  max-width: 800px !important;
}

.modal-xl {
  width: 1140px !important;
  max-width: 1140px !important;
}

.sidebar-wrapper {
  padding-bottom: 0 !important;
}

.nav {
  margin-top: 0 !important;
  height: calc(100vh - 124px);
}

.nav > li > a {
  font-family: NotoSansCJKkr !important;
  font-size: 16px !important;
  font-weight: bold !important;
  line-height: 1.5 !important;
  letter-spacing: -0.4px !important;
  color: black !important;
  padding: 20px !important;
}
.nav > li > a.active {
  padding: 14px 20px !important;
  background-color: #ff775c !important;
  color: #fff !important;
}
.nav > li > a.deactive {
  padding: 14px 20px !important;
  color: #979797 !important;
}

.main-panel {
  background-color: #f8f8f8 !important;
  padding: 80px 163px;

  .content {
    padding: 0 !important;
  }

  .btn {
    padding: 15px 27px !important;
    border-radius: 0 !important;
    border: solid 1px #000 !important;
    background-color: #ffd8d9 !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    line-height: 1.5 !important;
    letter-spacing: -0.3px !important;
    color: black !important;
  }
  .btn.small {
    padding: 15px !important;
    border-radius: 0 !important;
    border: solid 1px #000 !important;
    background-color: #ffd8d9 !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    line-height: 1 !important;
    letter-spacing: -0.3px !important;
    color: black !important;
  }
  .btn.cancel {
    padding: 15px 27px !important;
    border: solid 1px #222 !important;
    background-color: transparent !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    letter-spacing: -0.3px !important;
    color: #222 !important;
  }
  .btn.excel {
    padding: 10px 29px !important;
    background-color: #ff5512 !important;
    border-color: #ff5512 !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    letter-spacing: -0.3px !important;
    color: #fff !important;
  }
  .btn.search-btn {
    height: 42px;
    padding: 10px 27px !important;
  }
  .btn.select-btn {
    border: solid 1px white !important;
    background-color: white !important;
    color: black !important;
  }
  .btn.select-btn.selected {
    border: solid 1px #e20346 !important;
    background-color: #e20346 !important;
    color: white !important;
  }
}

.modal {
  .btn {
    padding: 15px 27px !important;
    border-radius: 0 !important;
    border: solid 1px #000 !important;
    background-color: #000 !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    letter-spacing: -0.3px !important;
    color: #fff !important;
  }
  .btn.small {
    padding: 15px !important;
    border-radius: 0 !important;
    border: solid 1px #000 !important;
    background-color: #000 !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    letter-spacing: -0.3px !important;
    color: #fff !important;
  }
  .btn.cancel {
    padding: 15px 27px !important;
    border: solid 1px #222 !important;
    background-color: transparent !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    letter-spacing: -0.3px !important;
    color: #222 !important;
  }
  .btn.excel {
    padding: 10px 29px !important;
    background-color: #ff5512 !important;
    border-color: #ff5512 !important;
    font-family: NotoSansCJKkr !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    letter-spacing: -0.3px !important;
    color: #fff !important;
  }
  .btn.select-btn {
    border: solid 1px white !important;
    background-color: white !important;
    color: black !important;
  }
  .btn.select-btn.selected {
    border: solid 1px #e20346 !important;
    background-color: #e20346 !important;
    color: white !important;
  }
}

.card-title {
  font-family: NotoSansCJKkr !important;
  font-size: 30px !important;
  font-weight: bold !important;
  line-height: 1.5 !important;
  letter-spacing: -0.75px !important;
  // color: #000 !important;
  color: #e20346 !important;

  .path {
    font-family: NotoSansCJKkr !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 2.14 !important;
    letter-spacing: -0.35px !important;
    color: #000 !important;
  }
}

.total-count {
  color: #e20346 !important;
}

table.search-box {
  border: solid 1px #000 !important;
  background-color: #fff !important;

  tr:first-child th,
  tr:first-child td {
    border-top: solid 1px #000 !important;
  }
}
table:not(.search-box) {
  background-color: #fff !important;
  border-top: solid 2px #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 60px;

  thead {
    background-color: #f5f5f5 !important;

    tr {
      th,
      td {
        font-family: NotoSansCJKkr !important;
        font-size: 14px !important;
        font-weight: bold !important;
        line-height: 2.14 !important;
        letter-spacing: -0.35px !important;
        // text-align: center !important;
        color: #000 !important;
      }
    }
  }

  th,
  td {
    padding: 20px 10px !important;
    // text-align: center !important;
  }
  th.text-left,
  td.text-left {
    text-align: left !important;
  }
}

.page-link {
  color: #222 !important;
  border-color: #222 !important;
}
.page-item.active .page-link {
  color: white !important;
  background-color: #222 !important;
}

.viewer-popup-body * {
  overflow: hidden;
}

.setting-texture {
  margin-top: 20px;

  .setting-texture-filename {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;

    .icon {
      float: right;
      margin-top: 7px;
    }
  }
}
.setting-texture:first-child {
  margin-top: 0;
}
.setting-texture.open {
  .icon.icon-down {
    display: none;
  }
}
.setting-texture:not(.open) {
  .icon.icon-up {
    display: none;
  }
  .row {
    display: none;
  }
}

#editor {
  background-color: transparent !important;
}

.show > input[type="checkbox"] {
  opacity: 1 !important;
  visibility: visible !important;
}

th.required {
  color: #e20346 !important;
}

.sub-title {
  font-size: 18px;
}

.form-check {
  display: inline-block !important;
  margin-left: 20px;

  input[type="checkbox"] {
    opacity: 1 !important;
    visibility: visible !important;
    margin-top: 0.5rem;
  }
  .form-check-label {
    padding-left: 10px !important;
  }
}

.tab-btn {
  cursor: pointer;
}
.tab-btn.selected-tab {
  font-weight: bold;
}

.reservate {
  border: solid 1px black;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;

  .reservate-type {
  }
  .reservate-value {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
  }
}

.coupon {
  border: solid 1px black;
  padding: 20px;
  margin-top: 20px;
  position: relative;

  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .coupon-name {
    font-size: 16px;
  }

  .coupon-desc {
    font-size: 20px;

    .coupon-desc-amount {
      display: inline-block;
      color: #e20346;
    }
    .coupon-desc-label {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.product-thumbnail {
  border: solid 1px black;
  height: 100%;
}
.product {
  padding: 10px;
  margin-top: 10px;
  position: relative;

  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.couponpay {
  .couponpay-column {
    .couponpay-title {
      background-color: white;
      padding: 2px;
      margin-top: 30px;
      border-top: 2.5px solid;
      h4 {
        padding-left: 10px;
        margin-bottom: 21px;
        font-weight: bold;
      }
    }
    .couponpay-description {
      display: flex;
      margin-top: 40px;
      .couponpay-description__form {
        margin-bottom: 20px;
        .couponpay-description__form__title {
          color: inherit;
          font-size: 16px;
          margin-right: 10px;
          input {
            margin-left: 20px;
          }
        }
        select {
          width: 110px;
          height: 33px;
        }
      }
      .coupon-content {
        margin-left: 100px;
        .coupon-content__description {
          display: flex;
          align-items: baseline;
          height: 15%;
          h4 {
            font-weight: bold;
          }
          span {
            font-size: 22px;
          }
        }
      }
      .scrolltbody {
        table-layout: fixed;
        border-collapse: collapse;
        border-top: none !important;
        margin-top: 0px;
        white-space: nowrap;
        thead {
          display: block;
          width: 100%;
        }
        tbody {
          display: block;
          height: 400px;
          overflow: auto;
          tr:nth-child(2n + 2) {
            background-color: #f0f0f0;
          }
        }
        th,
        td {
          text-align: left;
          text-align: center;
        }
        td {
          width: 30px;
        }
        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
          width: 90px;
        }
        th:not(:first-child) {
          width: 90px;
        }
        th:nth-child(5),
        td:nth-child(5) {
          width: 130px;
        }
        th:nth-child(6),
        td:nth-child(6) {
          width: 5px;
        }
      }
      .couponpay-description__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px 0px 10px;
        Button:first-child {
          margin-bottom: 10px;
        }
      }
    }
    .space-around {
      justify-content: space-around;
    }
  }
}

.diary {
  text-align: center;

  .diary-img {
    width: 180px;
    height: 180px;
    border: solid 1px black;
    display: inline-block;
  }
  .diary-title {
    font-size: 18px;
  }
  .diary-date {
    font-size: 16px;
  }
  .diary-status {
    font-size: 14px;
  }
}

.push-notice {
  font-size: 20px;
  color: #767676;

  .important {
    color: black;
  }
}

.phone {
  background-color: #dadada;
  border: solid 1px black;
  border-radius: 10px;
  padding: 20px;

  .title {
    padding-bottom: 10px;
  }

  .screen {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px;

    textarea {
      min-height: 300px;
    }

    .btn {
      width: 100%;
    }
  }

  .length {
    text-align: right;
    padding-top: 10px;
  }
}

div.postfix {
  position: absolute;
  right: 24px;
  top: 6px;
}

.comment {
  border-bottom: solid 2px #767676;
  margin-bottom: 20px;

  .comment-writer {
    font-size: 20px;
  }

  .comment-date {
    font-size: 14px;
  }
  .comment-content {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}

.category {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}
.category.selected {
  color: #e20346;
}

.program {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.program.selected {
  color: #e20346;
}

.section-title {
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star-rating {
  width: 120px;
  display: inline-block;
  height: 21px;
  overflow: hidden;
  background: url(./img/star.png) no-repeat;
  span {
    display: inline-block;
    height: 21px;
    overflow: hidden;
    background: url(./img/star.png) no-repeat;
    background-position: left bottom;
    line-height: 0;
    vertical-align: top;
  }
}

.table-center {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  thead,
  tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.input-appearance::-webkit-outer-spin-button,
.input-appearance::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkBox-label {
  .form-check-label {
    font-size: 18px;
    color: inherit;
  }
}

.react-calendar-custom {
  font-size: 13px;
  width: 260px !important;
  min-width: 255px !important;
  line-height: 0.4em !important;

  margin-top: 10px;
}

input[type="number"] {
  height: 40px;
}

input[type="number"]:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 40px;
}
