.estimate {
  .search-box.search-online {
    .title {
      width: 50px;
    }
  }
  .search-box.search-offline {
    .title {
      width: 100px;
    }
  }

  .form-check {
    input[type="checkbox"] {
      opacity: 1 !important;
      visibility: visible !important;
      margin-top: .5rem;
    }
  }
}