.bg-img {
  // background: url(./bg.jpg);
  height: 100vh;
  // background-size: cover;
  // background-position: center;
  text-align: center;
}

// .bg-img:after{
//   position: absolute;
//   content: '';
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: rgba(0,0,0,0.7);
// }
.bg-img .content {
  // position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-top: 50vh;
  // top: 50%;
  // left: 50%;
  z-index: 999;
  text-align: center;
  padding: 0 20px;
  width: 600px;
  // transform: translate(-50%,-50%);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.04);
  // box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  margin-left: 40px;
  margin-right: 40px;
}
.bg-img .content.bg {
  background: url(./bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 32px;
}
.bg-img .content.bg:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.bg-img .content.bg .title {
  color: white;
  font-weight: bold;
  font-size: 38px;
}
.bg-img .content.bg .desc {
  color: white;
  font-weight: bold;
  margin-top: 50px;
  font-size: 26px;
}
.bg-img .content header {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Montserrat", sans-serif;
}
.bg-img .field {
  position: relative;
  height: 45px;
  width: 100%;
  // display: flex;
  background: rgba(255, 255, 255, 0.94);
  text-align: center;
}
.bg-img .field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}
.bg-img .field label {
  line-height: 45px;
}
.bg-img .field input {
  height: 45px;
  width: 100%;
  background: transparent;
  // border: none;
  border: solid 1px #222;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.bg-img .field .error-msg {
  font-size: 12px;
  text-align: left;
  color: red;
}
.bg-img .field button {
  display: inline-block;
  height: 100%;
  // width: 100%;
  background: transparent;
  // border: none;
  border: solid 1px #222;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 10px 60px;
}
.bg-img .show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.bg-img .pass-key:valid ~ .show {
  display: block;
}
.bg-img .pass {
  text-align: left;
  margin: 10px 0;
}
.bg-img .pass a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.bg-img .pass:hover a {
  text-decoration: underline;
}
.bg-img .field input[type="submit"] {
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.bg-img .field input[type="submit"]:hover {
  background: #2691d9;
}
.bg-img .login {
  color: white;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}
.bg-img .links {
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.bg-img .facebook,
.instagram {
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.bg-img .facebook {
  margin-left: 0;
  background: #4267b2;
  border: 1px solid #3e61a8;
}
.bg-img .instagram {
  background: #e1306c;
  border: 1px solid #df2060;
}
.bg-img .facebook:hover {
  background: #3e61a8;
}
.bg-img .instagram:hover {
  background: #df2060;
}
.bg-img .links i {
  font-size: 17px;
}
.bg-img i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.bg-img .signup {
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.bg-img .signup a {
  color: #3498db;
  text-decoration: none;
}
.bg-img .signup a:hover {
  text-decoration: underline;
}

/* Register.js part */
.content .form-control {
  // margin-bottom: 1.7rem;
  height: 2.6rem;
}

.content p {
  margin-top: 2rem;
  margin-bottom: 0;
}

.content p a {
  text-decoration: underline;
  color: skyblue;
}

.main-route-button {
  display: inline-block;
  color: black;
  border: solid 1px #acacac;
  padding: 20px;
  width: calc(20% - 20px);
  vertical-align: top;
  text-align: center;
  margin: 10px;
}
