.noticesView {
  margin: 15px 0px 15px 0px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  color: white;
  .noticesView-column {
    span {
      margin-right: 15px;
    }
  }
}
.noticesView-column__title__h3 {
  margin: 25px;
  text-align: center;
}

#descriptions,
#answerDescriptions {
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  background-color: white;
  padding: 15px;
  margin-bottom: 5px;
}

#answerDescriptions {
  color: black;
}
