.permission {
  .form-check {
    input[type="checkbox"] {
      opacity: 1 !important;
      visibility: visible !important;
      margin-top: .5rem;
    }
  }

  .check-permission {
    display: inline-block;
    margin-right: 20px;

    label {
      padding-left: 10px;
    }
  }
}