.product {
  .search-box {
    .title {
      width: 50px;
    }
    .select-search-target {
      width: 300px;
    }
  }

  .form-check {
    input[type="checkbox"] {
      opacity: 1 !important;
      visibility: visible !important;
      margin-top: .5rem;
    }
  }
}