.sampling {
  .search-box {
    .title {
      width: 50px;
    }
  }

  .form-check {
    input[type="checkbox"] {
      opacity: 1 !important;
      visibility: visible !important;
      margin-top: .5rem;
    }

    .form-check-label {
      padding-left: 2px;
    }
  }
}