.progrma-order {
  input {
    text-align: center;
    height: 50px;
  }
  .progrma-order__icons {
    display: flex;
    align-items: center;
    span {
      padding-left: 20px;
    }
  }
}

.price-selection {
  margin-left: 20px;
  .price-selection__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94.5%;
    height: 50px;
    border: 1px solid black;
  }
  .price-selection__icon {
    margin-left: 10px;
  }
}
