.tickets-table {
  input {
    text-align: center;
  }
  .tickets-table__title {
    text-align: left;
  }
  .tickets-table__sm {
    height: 50px;
    width: 50px;
  }
  .tickets-table__lg {
    height: 50px;
    width: 200px;
  }
  .tickets-table__listTitle {
    font-weight: bold;
  }
  .tickets-table__listTitle:first-child {
    margin-left: 50px;
    margin-right: 160px;
  }
}

.span-costom {
  font-size: 20px;
  margin-right: 20px;
}
