.program-prepaidList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  .program-prepaidList__title {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 60px;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    font-size: 20px;
  }
}

.ticket-tableScroll {
  height: 350px;
  overflow: auto;
  border-top: 1px solid black;

  .ticket-tableScroll-Table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: separate;
    border-top: none;
    thead {
      z-index: 1;
      position: sticky;
      top: 0;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
    td {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
}
